<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= fileName %></title>
</head>
<body>
  <header>
    <nav id="toolBar">
      <form method="GET">
        <button id="toolBar-editBtn" formaction="/edit<%= fileURL %>">編集</button>
        <button id="toolBar-listBtn">一覧</button>
        <button id="toolBar-searchBtn">検索</button>
      </form>
    </nav>
  </header>
  <%- fileContent %>
</body>
</html>
