<div id="field">
  <form method="POST" action="/edit/">
    <input type="hidden" name="url" value="<%= fileURL %>">
    <textarea id="field-contentText" name="content"><%= fileContent %></textarea>
    <div class="field-confirmBar">
      <button id="field-confirmBar-saveBtn">保存</button>
    </div>
  </form>
</div>