<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> の編集</title>
</head>
<body>
  <div id="toolBar">
    <button id="toolBar-backBtn">戻る</button>
    <button id="toolBar-listBtn">一覧</button>
    <button id="toolBar-searchBtn">検索</button>
  </div>
  <textarea><%= content %></textarea>
  <div id="confirmBar">
    <button id="confirmBar-saveBtn">保存</button>
  </div>
</body>
</html>