<section>
  <div id="field">
    <form method="GET" action="/search">
      <p><input id="field-queryText" type="text" name="query"></p>
      <p><button id="field-searchBtn">検索</button></p>
    </form>
  </div>
</section>